.overlay {
  width: 90vw;
  margin: 0 auto;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(100vh);
  background: #fff;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  padding: 20px;
}
